<launch>
  <arg name="model"           default="$(env TURTLEBOT3_MODEL)" 
       doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="initial_pose_x"  default="0.0" 
       doc="initial x position of the robot"/>
  <arg name="initial_pose_y"  default="0.0" 
       doc="initial y position of the robot"/>
  <arg name="initial_pose_a"  default="0.0" 
       doc="initial angle of the robot"/>
  <arg name="joint_noise_std" default="0.0" 
       doc="standard deviation of wheel noise per second"/>
  <arg name="sim_namespace"   default="ground_truth" 
       doc="namespace for `real` simulated robot" />

  <param name="tb3_model" value="$(arg model)"/>

  <!-- Map -->
  <node pkg="map_server" name="map" type="map_server" output="screen" 
        args="$(find tb3_simulation)/maps/levine-4.yaml"/>

  <!-- Simulated Robot -->
  <include file="$(find tb3_simulation)/launch/tb3_simulation.launch" ns="$(arg sim_namespace)">
    <arg name="sim_namespace"   value="$(arg sim_namespace)" />
    <arg name="initial_pose_x"  value="$(arg initial_pose_x)" />
    <arg name="initial_pose_y"  value="$(arg initial_pose_y)" />
    <arg name="initial_pose_a"  value="$(arg initial_pose_a)" />
    <arg name="joint_noise_std" value="$(arg joint_noise_std)" />
  </include>

  <!-- Transformations -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>

  <!-- Odometry -->
  <node pkg="turtlebot3_fake" type="turtlebot3_fake_node" name="turtlebot3_fake_node" output="screen" />

  <!-- Localization -->
  <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster"
        args="$(arg initial_pose_x) $(arg initial_pose_y) 0 $(arg initial_pose_a) 0 0 /map /odom 100" />

  <!-- Robot visualization -->
  <include file="$(find turtlebot3_bringup)/launch/includes/description.launch.xml">
    <arg name="model" value="$(arg model)" />
  </include>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tb3_simulation)/rviz/mee4411.rviz"/>

</launch>
