<launch>
  <!--include file="$(find turtlebot3_fake)/launch/turtlebot3_fake.launch"/-->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>

  <param name="tb3_model" value="$(arg model)"/>

  <include file="$(find turtlebot3_bringup)/launch/includes/description.launch.xml">
    <arg name="model" value="$(arg model)" />
  </include>

  <node pkg="turtlebot3_fake" type="turtlebot3_fake_node" name="turtlebot3_fake_node" output="screen" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>

  <node pkg="map_server" name="map" type="map_server" output="screen" 
        args="$(find mee4411_launch)/maps/levine-4.yaml"/>

  <node pkg="laser_simulator" name="laser_simulator" type="laser_simulator"
        output="screen">
    <remap from="~map" to="/map"/>
    <remap from="~odom" to="odom"/>
    <remap from="~scan" to="scan"/>
    <rosparam file="$(find laser_simulator)/config/models.yaml"/>
    <rosparam file="$(find laser_simulator)/models/LDS_01.yaml"/>
    <param name="frame_id" value="base_scan"/>
    <param name="offset/x" value="0"/>
    <param name="offset/y" value="0"/>
    <param name="offset/z" value="0.0"/>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster" 
        args="0 0 0 0 0 0 1 /map /odom 100" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mee4411_launch)/rviz/mee4411.rviz"/>

</launch>
