<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="initial_pose_x" default="0.0" doc="initial x position of the robot"/>
  <arg name="initial_pose_y" default="0.0" doc="initial y position of the robot"/>
  <arg name="initial_pose_a" default="0.0" doc="initial angle of the robot"/>


</launch>
